{% extends 'main/mainpage.html' %}

{% block headtitle %}НОВЫЙ ГООД!!{% endblock %}

{% block content %}
<div class="main-text">
    <div id="rectangle" class="rect">
        <span class="new-year">Новый год!!!</span>
        <span class="new-year-text">Праздник радости и чудес</span>
        <span class="new-year-text">поэтому я для вас подготовил небольшой сюрприз</span>
    </div>
</div>
<!--<a href="vlad/"> Влад </a>-->
<!--<a href="yasha/"> Яша </a>-->
<!--<a href="senya/"> Сеня </a>-->
<!--<a href="roma/"> Рома </a>-->
<!--<a href="tema/"> Артем </a>-->
{% endblock %}

