{% extends 'main/mainpage.html' %}

{% block headtitle %}НОВЫЙ ГООД!!{% endblock %}

{% block content %}
<div class="main-text">
    <span class="happy-new-year">Дорогие друзья!</span>
    <span class="dreams">Поздравляю вас с Новым годом и желаю,<br> чтобы он принёс вам больше любви,<br> счастья, невероятных приключений,<br> радостных эмоций и приятных встреч.<br> Будьте сильными, не пасуйте перед трудностями,<br> добивайтесь самого-самого.<br> Удачи вам в будущем году!</span>
    <a href="" class="next-btn">
        <button class="button">Начать!</button>
    </a>
    <img src="static/main/img/santa.png">
</div>

<!--<a href="vlad/"> Влад </a>-->
<!--<a href="yasha/"> Яша </a>-->
<!--<a href="senya/"> Сеня </a>-->
<!--<a href="roma/"> Рома </a>-->
<!--<a href="tema/"> Артем </a>-->
{% endblock %}

